<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">The School of Psychology</a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div id="header-text">
            <img id="uniLogoBanner" src="static/images/uoa-logo-5.jpg" alt="UoA Logo" />
            <h1>University of Auckland</h1>
            <!-- <h2><small> -->
            <p>
            Psychology Experiment
            </p>
            <!-- </small></h2> -->
        </div>
    </div>
</div>
